@charset "UTF-8";

#mainContent{
    text-align: center;
    padding-top: 150px;
    height: 500px;
    margin: auto;	
    font-size: 23px;
}

#self_intro{
	height: 150px;
}

.text {
    width: 100px;
    float: left;
    text-align: center;
}

.validator{
    background: #ff008014;		
}

.blockInput{
	background: #337ab724;		
}


button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 292px;
    padding-top: 10px;
    text-align: center;
    text-align-last:center;
    color: gray;
}

#joinForm_Btn{
    margin-top: 150px;
    margin-left: 103px;
}


.joinInput{
    text-align: left;
    margin: auto;
    padding-top: 59px;
}

.joinInput1 {
    float: left;
}

.joinInput1 img {
    height: 180px;
    padding-left: 137px;
}

.joinInput1 button {
    width: 197px;
    margin-left: 137px;
}

.joinInput2 {
    /* display: inline-block; */
    float: left;
}

.joinInput3 {
    float: left;
}
.joinInput4 {
    float: left;
}

#footer {
	height: 139px;
    text-align: center;
    font-size: 16px;
}
